body#jdirt #content-wrapper #page-content label {
	display: block;
}

button, span {
  display:block;
}

span {
  text-align:center;
}

section {
  clear:both;
}

textarea {
  resize: none;
}

article {
  margin: 10px;
  float: left;
}
